/*
  ========================================
  Body
  ========================================
*/
 
.App {
  text-align: center;
}
 
.App-link {
  color: #D9D8BA; /* Tana */
}
 
body {
  background-color: #D9D8BA; /* Tana */
  color: black;
}

/*
  ========================================
  Fonts
  ========================================
*/

h1 {
  font-family: 'Economica', sans-serif;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'PT Serif', serif;
}
 
/*
  ========================================
  Header
  ========================================
*/
 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}
 
.App-header {
  background-color: #282c34; /* Shark */
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FCFCF7; /* Ecru */
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
.mind-map {
  width: 50%;
}
 
/*
  ========================================
  Navbar
  ========================================
*/
 
.topnav {
  background-color: #5D5C61; /* Scarpa Flow */
  overflow: hidden;
}
 
.topnav a {
  float: left;
  color: #f2f2f2; /* Concrete */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd; /* Alto */
  color: black;
}
 
/* Add a color to the active/current link */
.topnav a:active {
  background-color: #7395AE; /* Bermuda Grey */
  color: white;
}

.login-btn {
  width: 60px;
  margin: 16px;
  /* float: right; */
}

 
/*
  ========================================
  Landing Page
  ========================================
*/
 
.homepage {
  background-image: url("./images/lying-on-the-couch.jpg");
  min-height: 520px;
  background-size: cover;
  background-repeat: no-repeat;
}

.acl-btn {
  float: right;
  margin: 0 20px 0 20px;
  /* margin-bottom: 0; */
}
 
/*
  ========================================
  Adjective Checklist
  ========================================
*/

.container {
  padding-right: 20px;
}
 
.checklist {
  float: left;
  text-align: left;
}
 
.column {
  width: 100%;
  float: left;
  margin-left: 8px;
}
 
@media (min-width: 350px) {
  .column {
    columns: 3;
  }
}
 
@media (min-width: 700px) {
  .column {
    columns: 5;
  }
}
 
@media (min-width: 1000px) {
  .column {
    columns: 7;
  }
}
 
ul {
  list-style-type: none;
}
 
.btn {
  width: 60%;
  height: 30px;
}
 
/*
  ========================================
  Thematic Apperception Test
  ========================================
*/
 
.tat-image {
  width: 80%;
}
 
.prompt {
  background-color: #5D5C61; /* Scarpa Flow */
  color: #FCFCF7; /* Ecru */
  text-align: left;
  padding-left: 8%;
  padding-bottom: 20px;
  margin: 12px 10%;
  border: 12px solid #282c34; /* Shark */
}
 
.tat-submit {
  width: 86%;
  margin: 10px;
}
 
.text-field {
  background: #282c34; /* Shark */
  color: #FCFCF7; /* Ecru */
  height: 160px;
  width: 90%;
}

.tat-instructions {
  margin-left: -20px;
}
 
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*
  ========================================
  Demographic Questions
  ========================================
*/

.questionnaire {
  background-color: #5D5C61; /* Scarpa Flow */
  color: #FCFCF7; /* Ecru */
  text-align: left;
  font-size: 1.4em;
  padding-right: 30px;
  padding-bottom: 20px;
  margin: 12px 10%;
  border: 12px solid #282c34; /* Shark */
}

.question {
  margin: 20px 0 20px 0;
}

.personal-submit  {
  margin-left: 40px;
  width: 90%;
}

.dropdown {
  font-size: 16px;
} 

.wallpaper {
  background-image: url("./images/persona.jpg");
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
 
/*
  ========================================
  Graph
  ========================================
*/
 
.graph-wrapper {
  background: #D9D8BA; /* Tana */
  background: #459CB6; /* Boston Blue */
  padding: 1px;
}
 
.graph {
  display: flex;
  position: relative;
  max-width: 1000px;
  height: 100px; 
  background: #73D1DC; /* Viking */
  margin: 8%;
  margin-top: 0;
  margin-bottom: 0;
  border: 6px solid #5D5C61; /* Scarpa Flow */
}
 
.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #BFF0E7; /* Cruise */
  left: 10%;
}
 
.bar-text-content {
  height: 100%;
  width: 180px;
  background: #73D1DC; /* Viking */
}
 
.bar-lines-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #7395AE; /* Bermuda Grey */
}
 
.bar {
  height: 22px;
  background: #282c34; /* Shark */
  z-index: 25;
  border-bottom: 1px solid cyan;
  border-right: 1px solid cyan;
}
 
.text {
  /* height: 6.66%; */
  height: 25%;
}

.descriptions {
  display: flex;
  position: relative;
  max-width: 1000px;
  background: #73D1DC; /* Viking */
  margin: 8%;
  margin-top: 0;
  margin-bottom: 0;
  border: 6px solid #5D5C61; /* Scarpa Flow */
  padding: 20px;
  text-align: left;
  min-height: 500px;
  overflow: auto; 
}

.inset {
  float: right;
  width: 30%;
  margin: 10px;
}

.text-box {
  min-height: 400px;
  padding: 20px;
  overflow: auto; 
  /* text-overflow: ellipsis; */
}

.key {
  display: flex;
  position: relative;
  max-width: 1000px;
  min-height: 110px; 
  background: #73D1DC; /* Viking */
  margin: 8%;
  margin-top: 0;
  margin-bottom: 10px;
  border: 6px solid #5D5C61; /* Scarpa Flow */
  text-align: left;
  padding: 0;
  overflow: auto; 
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #5D5C61; /* Scarpa Flow */
  padding: 10px;
  margin-bottom: 20px;
}

/* hr {
  background: red;
  width: 3px;
} */

.grid-item {
  background-color: #7395AE; /* Bermuda Grey */
  color: white;
  border: 1px solid #73D1DC; /* Viking */
  padding: 10px;
  font-size: 16px;
  text-align: left;
}
 
/*
  ========================================
  Footer
  ========================================
*/
 
.footer {
  background-color: #282c34; /* Shark */
}
 
.left-caption {
  margin-left: 50px;
  display:inline-block;
  margin-right: 20%;
  color: cyan;
}
 
.right-caption {
  margin-right: 50px;
  display: inline-block;
}